/ot-harjoitustyo/laskarit/viikko2/JUnit-harjoitus1/nbproject/private/
/ot-harjoitustyo/laskarit/viikko2/Maksukortti/nbproject/private/
/ot-harjoitustyo/laskarit/viikko2/Maksukortti/build/
/ot-harjoitustyo/laskarit/viikko2/Unicafe/target/
/ot-harjoitustyo/laskarit/viikko2/Unicafe/nbproject/
/ot-harjoitustyo/DynaamisetIstutukset/DynaamisetIstutukset/target/
/ot-harjoitustyo/DynaamisetIstutukset/DynaamisetIstutukset/nbproject/